# crecord.config must contain a "cameras" associative array and a destination_folder
# see the example below:
#
##  declare -A cameras=(
##          ["camera_name1"]="192.168.0.91"
##          ["camera_name2"]="192.168.0.92"
##          ["camera_name3"]="192.168.0.93"
##  )
##
##  destination_folder=/mnt/HDD/pi
