<config>
	<cameras>
		<camera name="cancellone" ip="192.168.0.91" />
		<camera name="bagno azzurro" ip="192.168.0.93" />
		<camera name="terrazzo" ip="192.168.0.94" />
		<camera name="garage" ip="192.168.0.95" />
		<camera name="bagno rosa" ip="192.168.0.96" />
		<camera name="ingresso" ip="192.168.0.97" />
		<camera name="salone" ip="192.168.0.98" />
		<camera name="strada" ip="192.168.0.69" username="admin" password="admin" rtsp_path="cam/realmonitor?channel=1&#38;subtype=0" />
	</cameras>

	<destination_folder>/home/pi/test_recordings</destination_folder>
</config>
