<config>
	<user></user>
	<group></group>

	<cameras>
	</cameras>

	<destination_folder></destination_folder>
</config>

<!-- Example of a config file
  <config>
	<user>john</user>
	<group>security</group>

      <cameras>
          <camera name="bathroom" ip="192.168.0.97" />
          <camera name="living room" ip="192.168.0.98" />
          <camera name="street" ip="192.168.0.99" username="admin" password="admin" rtsp_path="cam/realmonitor?channel=1&#38;subtype=0" />
      </cameras>

      <destination_folder>/mnt/HDD/recordings</destination_folder>
  </config>
End of the example -->
